.items-menu {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.items-menu__list {
  flex: auto 1 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
